
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #EFF5F2;
}

.header {
    width: 100%;
    padding: 8px;
    background: #F4FBF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: #006B5F;
    font-size: 24px;
    line-height: 32px;
}

.menu {
    display: flex;
    justify-content: center; /* Центрируем элементы меню */
    width: 100%; /* Ширина меню 100% */
}

.menu-item {
    color: #161D1B;
    font-size: 24px;
    cursor: pointer;
    padding-right: 150px;
}

.content {
    justify-content: center; /* По вертикали центрируем контейнер */
    width: 100%;
    padding: 40px 20px; /* Уменьшите отступы, если необходимо */
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 10px;
}


/* Добавьте свои стили по необходимости */
