/*Цвета)*/
:root {
    /* Цвета для светлой темы */
    --md-sys-color-background: #F4FBF8; /* Цвет фона светлой темы */
    --md-sys-color-surface: white; /* Цвет поверхности светлой темы */
    --md-sys-color-primary: #006B5F; /* Основной цвет */
    --md-sys-color-on-surface: #4A635E; /* Цвет текста на поверхности */
    --md-sys-color-outline: #BEC9C5; /* Цвет границы */
}

.dark {
    --md-sys-color-background: rgb(14, 21, 19); /* Цвет фона темной темы */
    --md-sys-color-surface: rgb(20, 51, 73); /* Цвет поверхности в темной теме */
    --md-sys-color-primary: rgb(130, 213, 199); /* Основной цвет */
    --md-sys-color-on-surface: rgb(221, 228, 225); /* Цвет текста на поверхности в темной теме */
    --md-sys-color-outline: rgb(137, 147, 144); /* Цвет границы в темной теме */
    --md-sys-color-pole_vvoda: #1A211F;

    --md-sys-color-on-primary: rgb(0, 55, 49); /* Цвет текста на основном цвете */
    --md-sys-color-primary-container: rgb(0, 80, 71); /* Контейнер для основного цвета */
    --md-sys-color-on-primary-container: rgb(158, 242, 227); /* Текст на контейнере основного цвета */

    --md-sys-color-secondary: rgb(177, 204, 198); /* Вторичный цвет */
    --md-sys-color-on-secondary: rgb(28, 53, 48); /* Текст на вторичном цвете */
    --md-sys-color-secondary-container: rgb(51, 75, 71); /* Контейнер для вторичного цвета */
    --md-sys-color-on-secondary-container: rgb(204, 232, 226); /* Текст на контейнере вторичного цвета */

    --md-sys-color-tertiary: rgb(172, 202, 229); /* Третичный цвет */
    --md-sys-color-on-tertiary: rgb(20, 51, 73); /* Текст на третичном цвете */
    --md-sys-color-tertiary-container: rgb(45, 74, 96); /* Контейнер для третичного цвета */
    --md-sys-color-on-tertiary-container: rgb(203, 230, 255); /* Текст на контейнере третичного цвета */

    --md-sys-color-error: rgb(255, 180, 171); /* Цвет ошибки */
    --md-sys-color-on-error: rgb(105, 0, 5); /* Текст на ошибке */
    --md-sys-color-error-container: rgb(147, 0, 10); /* Контейнер для ошибки */
    --md-sys-color-on-error-container: rgb(255, 218, 214); /* Текст на контейнере ошибки */

    --md-sys-color-outline-variant: rgb(63, 73, 70);
}

/*Основа)*/
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: var(--md-sys-color-background, #F4FBF8); /* Цвет фона светлой темы */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по вертикали */
}

.Container {
    text-align: center; /* Центрирование текста */
}

.Mebelshop {
    color: var(--md-sys-color-primary, #006B5F);
    font-size: 57px;
    margin-bottom: 40px; /* Отступ снизу */
}

.ThemeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #fff; /* Цвет фона кружка */
    border-radius: 50%; /* Круглая форма */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Курсор в виде указателя */
}

.RegistrationForm, .LoginForm {
    width: 300px; /* Ширина формы */
    padding: 20px;
    background: var(--md-sys-color-surface, white); /* Цвет фона формы */
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Title {
    color: var(--md-sys-color-on-surface, #4A635E);
    font-size: 28px;
}

.TextContentSubtitle {
    text-align: center; /* Центрирование текста */
}

.underline {
    text-decoration: underline;
}

.Divider {
    width: 250px;
    height: 1px;
    background-color: var(--md-sys-color-outline, #6F7976);
    margin: 20px auto; /* Центрирование делителя */
}

.FormContact {
    display: flex;
    flex-direction: column;
}

.InputField {
    margin-bottom: 16px; /* Отступ между полями */
}

.Label {
    color: var(--md-sys-color-on-surface, #4A635E); 
}

.InputContainer {
   position: relative; /* Для размещения иконки глаза */
}

.Input {
   padding-left: 16px; 
   padding-right: 16px; 
   padding-top: 12px; 
   padding-bottom: 12px; 
   background-color: var(--md-sys-color-surface-variant, #EFF5F2); /* Цвет фона поля ввода */
   border-radius: 16px; 
   margin-top: 8px; /* Отступ между меткой и полем ввода */
   width: calc(100% - 32px); /* Ширина поля ввода с учетом отступов */
   border: 1px solid var(--md-sys-color-outline-variant, #BEC9C5); /* Цвет границы поля ввода */
}

/* Позиционирование глазиков внутри поля ввода */
.Eye {
   position: absolute;
   right: 10px; /* Отступ от правого края поля ввода */
   top: calc(50% - 7px); /* Центрирование по вертикали относительно поля ввода */
   cursor:pointer; /* Курсор в виде указателя для глазика */
   width: 20px; /* Ширина изображения глазика */
   height:auto; /* Автоматическая высота для сохранения пропорций изображения */
}

.Error {
   color: #BA1A1A; 
   font-size: 12px; 
   display: none; /* Скрыть ошибку по умолчанию */
}

.Button {
   width: 220px; 
   height: 40px; 
   background-color: var(--md-sys-color-primary, #006B5F); 
   border-radius: 100px; 
   color:white; 
   font-size:16px; 
   cursor:pointer; 
   transition:.3s ease-in-out;
   margin-top: 20px; /* Отступ сверху */
   align-self: center; /* Центрирование кнопки */
}
.Button:hover {
   background-color:#005B4F
}

/* Темная тема */
body.dark {
    background-color : var(--md-sys-color-background);/* Цвет фона темной темы */ 
}
.Container.dark .Mebelshop {
    color : var(--md-sys-color-primary);/* Цвет текста в темной теме */ 
}
.RegistrationForm.dark,
.LoginForm.dark {
    background-color : var(--md-sys-color-surface);/* Цвет фона формы в темной теме */ 
}
.Input.dark {
    background-color : var(--md-sys-color-pole_vvoda);/* Цвет фона поля ввода в темной теме */ 
}
.TextContentSubtitle.dark{
    color: var(--md-sys-color-on-surface);
}
