body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: var(--md-sys-color-background, #BEC9C5); /* Цвет фона светлой темы */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Центрирование по вертикали */
}

.Container {
    text-align: center; /* Центрирование текста */
}

.Mebelshop {
    color: var(--md-sys-color-primary, #006B5F);
    font-size: 57px;
    margin-bottom: 40px; /* Отступ снизу */
}

.ThemeToggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: #fff; /* Цвет фона кружка */
    border-radius: 50%; /* Круглая форма */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Курсор в виде указателя */
}

.RegistrationForm, .LoginForm {
    width: 300px; /* Ширина формы */
    padding: 20px;
    background: var(--md-sys-color-surface, #143349); /* Цвет фона формы */
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.Title {
    color: var(--md-sys-color-on-surface);
    font-size: 28px;
}

.TextContentSubtitle {
    text-align: center; /* Центрирование текста */
}

.underline {
    text-decoration: underline;
}

.Divider {
    width: 250px;
    height: 1px;
    background-color: var(--md-sys-color-outline);
    margin: 20px auto; /* Центрирование делителя */
}

.FormContact {
    display: flex;
    flex-direction: column;
}

.InputField {
    margin-bottom: 16px; /* Отступ между полями */
}

.Label {
    color: var(--md-sys-color-on-surface); 
}

.InputContainer {
   position: relative; /* Для размещения иконки глаза */
}

.Input {
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    background-color: var(--md-sys-color-input-background); /* Цвет фона поля ввода */
    border-radius: 16px; 
    margin-top: 8px; /* Отступ между меткой и полем ввода */
    width: calc(100% - 32px); /* Ширина поля ввода с учетом отступов */
    border: 1px solid var(--md-sys-color-outline); /* Цвет границы поля ввода */
 }

/* Позиционирование глазиков внутри поля ввода */
.Eye {
   position: absolute;
   right: 10px; /* Отступ от правого края поля ввода */
   top: calc(50% - 7px); /* Центрирование по вертикали относительно поля ввода */
   cursor:pointer; /* Курсор в виде указателя для глазика */
   width: 20px; /* Ширина изображения глазика */
   height:auto; /* Автоматическая высота для сохранения пропорций изображения */
}

.Error {
   color: #BA1A1A; 
   font-size: 12px; 
   display: none; /* Скрыть ошибку по умолчанию */
}

.Button {
   width: 220px; 
   height: 40px; 
   background-color: var(--md-sys-color-primary, #006B5F); 
   border-radius: 100px; 
   color:white; 
   font-size:16px; 
   cursor:pointer; 
   transition:.3s ease-in-out;
   margin-top: 20px; /* Отступ сверху */
   align-self: center; /* Центрирование кнопки */
}
.Button:hover {
    background-color:#005B4F
 }

/* Темная тема стилизация для форм и элементов интерфейса */
body.dark {
    background-color : var(--md-sys-color-background);/* Цвет фона темной темы */ 
}
.Container.dark .Mebelshop {
    color : var(--md-sys-color-primary);/* Цвет текста в темной теме */ 
}
.RegistrationForm.dark,
.LoginForm.dark,
.ResetPasswordForm.dark,
.ConfirmEmailForm.dark,
.TextContentSubtitle.dark {
    background-color : var(--md-sys-color-surface);/* Цвет фона формы в темной теме */ 
}
.NewPasswordForm.dark {
    background-color : var(--md-sys-color-on-surface);/* Цвет фона формы в темной теме */ 
}
.Input.dark {
    background : var(--md-sys-color-input-background);/* Цвет фона поля ввода в темной теме */ 
}

/* Цвета */
:root {
    /* Цвета для светлой темы */
    --md-sys-color-background: #F4FBF8; /* Цвет фона светлой темы */
    --md-sys-color-surface: white; /* Цвет поверхности светлой темы */
    --md-sys-color-primary: #006B5F; /* Основной цвет */
    --md-sys-color-on-surface: #4A635E; /* Цвет текста на поверхности */
    --md-sys-color-outline: #BEC9C5; /* Цвет границы */
    --md-sys-color-input-background: #E9EFEC; /* Цвет фона полей ввода в светлой теме */
}

.dark {
    --md-sys-color-background: rgb(14, 21, 19); /* Цвет фона темной темы */
    --md-sys-color-surface: rgb(20, 51, 73); /* Цвет поверхности в темной теме */
    --md-sys-color-primary: rgb(130, 213, 199); /* Основной цвет */
    --md-sys-color-on-surface: rgb(221, 228, 225); /* Цвет текста на поверхности в темной теме */
    --md-sys-color-outline: rgb(137, 147, 144); /* Цвет границы в темной теме */
    --md-sys-color-input-background: #1A211F; /* Цвет фона полей ввода в темной теме */

    --md-sys-color-on-primary: rgb(0, 55, 49); /* Цвет текста на основном цвете */
}